<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> - VitaFresh</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="icon" href="https://img.icons8.com/?size=160&id=feS2IHYk2ga4&format=png&v=1" type="image/png">
<link rel="shortcut icon" href="https://img.icons8.com/?size=160&id=feS2IHYk2ga4&format=png&v=1" type="image/png">
<link rel="apple-touch-icon" href="https://img.icons8.com/?size=160&id=feS2IHYk2ga4&format=png&v=1">
<meta name="description" content="VitaFresh - Your one-stop shop for fresh fruits and vegetables">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://vitafresh.com/">
<meta property="og:title" content="<%= title %> - VitaFresh">
<meta property="og:description" content="Your one-stop shop for fresh fruits and vegetables">
<meta property="og:image" content="https://img.freepik.com/free-vector/natural-organic-food-background_1284-9919.jpg?ga=GA1.1.1371566466.1740245435&semt=ais_hybrid&w=740">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://vitafresh.com/">
<meta property="twitter:title" content="<%= title %> - VitaFresh">
<meta property="twitter:description" content="Your one-stop shop for fresh fruits and vegetables">
<meta property="twitter:image" content="https://img.freepik.com/free-vector/natural-organic-food-background_1284-9919.jpg?ga=GA1.1.1371566466.1740245435&semt=ais_hybrid&w=740">



